<ul *ngIf="todoService.todos.length; else noTodos">
  <li *ngFor="let todo of todoService.todos, let i = index" [routerLink]="['/tasks', todo.id]">
    <span [class.done]="todo.completed">
      <input type="checkbox" [checked]="todo.completed" (change)="onChange(todo.id)">
      <strong>{{i + 1}}</strong>{{todo.title}}
    </span>
    <small>{{todo.date | date:'medium'}}</small>
    <button class="rm" (click)="removeTodo(todo.id)">&times;</button>
  </li>
</ul>

<button (click)="addTodo()">Add todo</button>

<ng-template #noTodos>
  <p>No todos now!</p>
</ng-template>
